<!-- <h2>Register</h2>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
  </div>
  <button type="submit">Register</button>
</form> -->

<h2>Registration</h2>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
  </div>
 
 
  <button type="submit">Register</button>
</form>
